.primaryHeading {
  font-size: 18rem;
}
.titleHeading {
  font-size: 4rem;
}
.description {
  font-size: 1.5rem;
}
.skillSet {
  font-size: 15rem;
  opacity: 50%;
  color: #fff;
  @include respond(phone) {
    font-size: 5rem;
  }
}
