.projectDetail {
  display: flex;

  margin-bottom: 3rem;
  @include respond(phone) {
    flex-direction: column;
  }
  &_image {
    position: relative;
    margin-right: 1rem;
    width: 30rem;
    height: 15rem;

    @include respond(phone) {
      width: 20rem;
      height: 10rem;
      margin-bottom: 1rem;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  &_content {
    width: 50%;
    h1 {
      font-weight: 200;
    }
    @include respond(phone) {
      font-size: 0.7rem;
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
