.skillSetContainer {
  height: 220vh;
  width: 100vw;

  position: relative;

  opacity: 100%;
  &_bg {
    height: 100%;
    width: 100%;
    background: rgb(66, 0, 51);
    transform: translateX(-110%);
  }
}
.skillSetReveal {
  opacity: 0;
  height: 200vh;
  width: 2rem;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
}
.stack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;

  &_title {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }
  img {
    border-radius: 10%;
    height: 3.5rem;
    width: 3.5rem;
    background: rgb(236, 22, 236);
  }
}
